openapi: 3.2.0
info:
  title: ModelRush Public Images API
  version: 2026-09-04.3
  summary: One API for text, image, video, and voice models
  description: Public discovery and representative authenticated ModelRush API contracts. Model and region availability are time-sensitive; call the discovery endpoints before selecting a model or execution region. Authenticated generation operations may create billable usage. Keep API keys server-side. The Apache-2.0 license covers this API description, not access to the hosted service or its underlying implementation. Service use remains governed by the linked terms of service.
  termsOfService: https://modelrush.ai/terms
  contact:
    name: ModelRush
    url: https://modelrush.ai
    email: info@modelrush.ai
  license:
    name: Apache 2.0
    identifier: Apache-2.0
servers:
- url: https://api.modelrush.ai/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Images
paths:
  /images/generations:
    post:
      operationId: createImageGeneration
      summary: Generate images
      tags:
      - Images
      x-modelrush-billable: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Synchronous image result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '202':
          description: Asynchronous image Prediction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prediction'
        4XX:
          $ref: '#/components/responses/Error'
  /images/edits:
    post:
      operationId: createImageEdit
      summary: Edit one or more source images
      description: Accepts JSON image URLs/data URIs or multipart image files. Face and head swap operations require explicit per-request portrait-rights confirmation.
      tags:
      - Images
      x-modelrush-billable: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageEditRequest'
          multipart/form-data:
            schema:
              type: object
              required:
              - model
              - image
              properties:
                model:
                  type: string
                prompt:
                  type: string
                image:
                  oneOf:
                  - type: string
                    format: binary
                  - type: array
                    items:
                      type: string
                      format: binary
                mask:
                  type: string
                  format: binary
                person_rights_confirmed:
                  type: boolean
      responses:
        '200':
          description: Synchronous image edit result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '202':
          description: Asynchronous image-edit Prediction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prediction'
        4XX:
          $ref: '#/components/responses/Error'
components:
  schemas:
    Prediction:
      type: object
      required:
      - id
      - status
      properties:
        id:
          type: string
        object:
          type: string
        status:
          type: string
          enum:
          - queued
          - processing
          - succeeded
          - failed
          - cancelled
          - expired
        provider_status:
          type: string
        model:
          type: string
        modelrush_region:
          type: string
        poll_url:
          type: string
        output: {}
        error:
          $ref: '#/components/schemas/ErrorObject'
      additionalProperties: true
    ErrorObject:
      type: object
      required:
      - code
      - message
      - type
      properties:
        code:
          type: string
        message:
          type: string
        type:
          type: string
      additionalProperties: true
    ImageEditRequest:
      type: object
      required:
      - model
      - image
      properties:
        model:
          type: string
        prompt:
          type: string
          maxLength: 5000
        image:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        mask:
          type: string
        n:
          type: integer
          minimum: 1
          maximum: 4
        size:
          type: string
        quality:
          type: string
        output_format:
          type: string
        watermark:
          type: boolean
        person_rights_confirmed:
          type: boolean
        region:
          type: string
      additionalProperties: true
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
      additionalProperties: true
    ImageGenerationRequest:
      type: object
      required:
      - model
      - prompt
      properties:
        model:
          type: string
        prompt:
          type: string
          minLength: 1
          maxLength: 5000
        n:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
        size:
          type: string
        quality:
          type: string
        output_format:
          type: string
        watermark:
          type: boolean
        thinking_mode:
          type: boolean
        region:
          type: string
      additionalProperties: true
  responses:
    Error:
      description: Structured API error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ModelRush API key
externalDocs:
  description: ModelRush documentation
  url: https://modelrush.ai/docs
