openapi: 3.2.0
info:
  title: ModelRush Public Video API
  version: 2026-09-04.3
  summary: One API for text, image, video, and voice models
  description: Public discovery and representative authenticated ModelRush API contracts. Model and region availability are time-sensitive; call the discovery endpoints before selecting a model or execution region. Authenticated generation operations may create billable usage. Keep API keys server-side. The Apache-2.0 license covers this API description, not access to the hosted service or its underlying implementation. Service use remains governed by the linked terms of service.
  termsOfService: https://modelrush.ai/terms
  contact:
    name: ModelRush
    url: https://modelrush.ai
    email: info@modelrush.ai
  license:
    name: Apache 2.0
    identifier: Apache-2.0
servers:
- url: https://api.modelrush.ai/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Video
paths:
  /videos/generations:
    post:
      operationId: createVideoGeneration
      summary: Create an asynchronous video job
      tags:
      - Video
      x-modelrush-billable: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        '202':
          description: Queued video generation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prediction'
        4XX:
          $ref: '#/components/responses/Error'
  /videos/generations/{id}:
    get:
      operationId: getVideoGeneration
      summary: Get video job status
      tags:
      - Video
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Current video job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prediction'
        '404':
          $ref: '#/components/responses/Error'
components:
  schemas:
    Prediction:
      type: object
      required:
      - id
      - status
      properties:
        id:
          type: string
        object:
          type: string
        status:
          type: string
          enum:
          - queued
          - processing
          - succeeded
          - failed
          - cancelled
          - expired
        provider_status:
          type: string
        model:
          type: string
        modelrush_region:
          type: string
        poll_url:
          type: string
        output: {}
        error:
          $ref: '#/components/schemas/ErrorObject'
      additionalProperties: true
    VideoGenerationRequest:
      type: object
      required:
      - model
      - prompt
      properties:
        model:
          type: string
        prompt:
          type: string
        duration:
          type: integer
        ratio:
          type: string
          enum:
          - adaptive
          - '16:9'
          - '9:16'
          - '1:1'
          - '4:3'
          - '3:4'
          - '21:9'
        resolution:
          type: string
        image:
          type: string
        last_image:
          type: string
        reference_images:
          type: array
          maxItems: 10
          items:
            type: string
        reference_videos:
          type: array
          maxItems: 5
          items:
            type: string
        reference_audios:
          type: array
          maxItems: 5
          items:
            type: string
        audio:
          type: boolean
        audio_url:
          type: string
          format: uri
        region:
          type: string
      additionalProperties: true
    ErrorObject:
      type: object
      required:
      - code
      - message
      - type
      properties:
        code:
          type: string
        message:
          type: string
        type:
          type: string
      additionalProperties: true
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorObject'
      additionalProperties: true
  responses:
    Error:
      description: Structured API error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ModelRush API key
externalDocs:
  description: ModelRush documentation
  url: https://modelrush.ai/docs
